*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --color-text: #000;
    --color-bg: #F9F9EF;
    --color-link: #000;
    --color-link-hover: #000;
    --color-title: #7f7f8f;
    --color-year: #b9b3af;
    --img-ratio: 1.5;
    --s: 1;
    --page-padding: 3vw;
    --page-padding-vertical: 5vh;
    --color-accent: #000000;
    --color-gray: #959595;
}

body {
    margin: 0;
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: "area-normal", sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    overflow-x: hidden;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
    content: '';
    position: fixed;
    z-index: 1000;
}

.js .loading::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}

.js .loading::after {
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    opacity: 0.4;
    background: var(--color-link);
    animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(0.7, 0.7, 1);
    }
}

a {
    text-decoration: none;
    color: var(--color-link);
    outline: none;
    cursor: pointer;
}

a:hover {
    color: var(--color-link-hover);
    outline: none;
}

a:focus {
    outline: none;
}

a:focus-visible {
    outline: 2px solid red;
}

.unbutton {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
}

.unbutton:focus {
    outline: none;
}

.frame {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;

    display: grid;
    grid-template-columns: 200px 1fr 200px;
    justify-content: space-between;
    padding: var(--page-padding-vertical) var(--page-padding);
    z-index: 10;

    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }
}

.frame__title {
    font-size: clamp(2rem, 8vw, 6rem);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -0.1rem;
    margin-bottom: 0.5625rem;
    color: var(--color-text);
    /* Use text color */

    @media (max-width: 767px) {
        line-height: 1.15;
    }
}

.frame__center {
    text-align: center;

    nav {
        font-size: clamp(0.9375rem, 1.75vw, 1.5rem);
        color: var(--color-gray);

        a {
            color: var(--color-gray);
        }

        .active {
            color: var(--color-accent);
        }
    }
}

.frame__resume {
    justify-self: end;
}

.frame__tags,
.frame__resume {
    padding-top: 0.9rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    font-size: 0.75rem;
    font-weight: 600;
    font-family: 'Syne', sans-serif;
}

.frame a {
    pointer-events: auto;
}

.grid {
    width: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    display: grid;
    grid-gap: 3rem;
    position: relative;
    margin: 10vh auto 50vh;
}

.grid__item {
    position: relative;
    margin: 0;
}

.grid__item-img {
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
    width: 100%;
    height: auto;
    aspect-ratio: var(--img-ratio);
}

.grid__item-img-inner {
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    position: relative;
    background-color: #ffffff;
}

.grid__item-caption {
    position: absolute;
    padding: 0.375rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.375rem;
}

.grid__item-caption h3 {
    font-weight: bold;
    font-size: inherit;
    margin: 0;
    color: var(--color-title);
}

.grid__item-caption span {
    font-weight: bold;
    color: var(--color-year);
}

.credits {
    font-size: 1.125rem;
    text-align: center;
    margin: 50vh auto 0;
    padding-bottom: 50vh;
}

@media screen and (min-width: 53em) {
    .grid {
        grid-template-columns: repeat(8, 1fr);
    }

    .grid__item {
        grid-column: var(--c) / span var(--s);
        grid-row: var(--r);
    }
}